@import "../../App.scss";

.nav {
  background-color: $primaryColor;
  padding: .6rem 0;

  p {
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    margin: 0 5rem;
    // filter: drop-shadow(1px 1px 5px #ababab);
  }
}

.body{
    margin: 0rem 5rem;
}