@use "../../App";

.form {
  display: flex;
  margin: 1em 0;

  div {
    input {
      padding: 1rem 1rem 0.5rem 0rem;
      border: none;
      border-bottom: 1px solid gray;
      font-size: 1.1rem;

      &::placeholder {
        font-size: 1.1rem;
      }

      &:focus {
        outline: none;
        border-bottom: 2px solid gray;
      }
    }
  }

  .portada {
    margin-left: 10rem;

    label {
      font-weight: bold;
    }

    .portada_hover {
      border: none;

      button {
        display: none;
      }

      &:hover {
        button {
          display: block;
        }

        img {
          filter: contrast(50%);
        }
      }
    }

    div {
      position: relative;
      margin: 0.4rem 0 0 0;
      height: 200px;
      width: 200px;
      border: black 1px solid;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 200px;
        width: 200px;
      }

      button {
        position: absolute;
        padding: 0.6rem;
        background-color: App.$primaryColor;
        border: none;
        border-radius: 0.2rem;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;

        &:hover {
          background-color: App.$hoverPrimary;
          box-shadow: none;
        }
      }
    }
  }
}

.images_container {
  margin-top: 2rem;

  .div_title {
    display: flex;
    align-items: baseline;
    position: relative;

    p {
      font-size: 1.2rem;
      font-weight: bold;
      //   margin-right: auto;
    }

    button {
      position: absolute;
      bottom: -2rem;
      right: 1rem;

      display: flex;
      align-items: center;
      gap: 0.5em;

      background-color: App.$primaryColor;
      padding: 0.8em;
      border: none;
      color: white;
      border-radius: 100%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer;

      &:hover {
        background-color: App.$hoverPrimary;
      }

      .plus_icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  .card_container {
    display: flex;
    margin: 0.5rem 0rem;
    padding: 1.5rem 0.5rem;
    border: 1px solid black;
    min-height: 200px;

    .image_card {
      display: inline-block;
      position: relative;
      padding: 0 0.4rem;

      img {
        height: 120px;
        width: 220px;
        object-fit: cover;
        border-radius: 0.5rem;
      }

      button {
        position: absolute;
        top: 0.5em;
        right: 1em;
        border-radius: 100%;
        border: none;
        padding: 0.7em;
        background-color: black;
        font-weight: bold;
        cursor: pointer;

        .x_icon {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
