@import "../../App.scss";

.title {
  @include title;
}

.list_and_photo {
  display: grid;
  grid-template-columns: 55% 43%;
  gap: 2%;

  margin: 1rem 0;
}

.select_image {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem;

  select {
    width: 50%;
    padding: 0.5rem 1rem 0.5rem 0rem;
    border: none;
    border-bottom: 1px solid $secondaryColor;
    margin-bottom: 1rem;
    cursor: pointer;

    &:focus {
      outline: none;
      border-bottom: 2px solid $secondaryColor;
    }
  }
}

.link_photo {
  .btns_container {
    display: flex;
    gap: 1rem;

    button {
      @include mainBtn;
    }
  }
  

  .choose_photo {
    width: 50%;
    margin: 0.5rem 0;
    padding: 0.4rem;
    border: 1px solid black;
    border-radius: 0.2rem;

    .choose_and_icon {
      display: flex;
      align-items: center;
      margin: 0rem 0 0.5rem 0;
      font-size: 0.8rem;
      font-weight: bold;

      .x_icon {
        width: 20px;
        height: 20px;
        margin-left: auto;

        &:hover {
          color: gray;
          cursor: pointer;
        }
      }
    }

    .photos_list {
      > p {
        margin: 0.2rem 0;
        cursor: pointer;

        &:hover {
          color: gray;
        }
      }
    }
  }
}

.btn_container_done {
  display: flex;
  justify-content: end;

  margin: 2rem 0 0 0;

  button {
    @include mainBtn;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
