@import "../../App.scss";

.title {
  @include title;
}

.list_and_photo {
  display: grid;
  grid-template-columns: 55% 43%;
  gap: 2%;

  margin: 1rem 0;
}

.link_photo {
  button {
    @include mainBtn;
  }
}

.select_image {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem;
  
  select {
    width: 50%;
    padding: 0.5rem 1rem 0.5rem 0rem;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;

    &:focus {
      outline: none;
      border-bottom: 2px solid gray;
    }

    option {
    }
  }
}

.btn_container_done {
  display: flex;
  justify-content: end;

  margin: 2rem 0 0 0;

  button {
    @include mainBtn;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
